body, html, #infinietUniverse, .Container{height:100%;}

#infinietUniverse .comet{
    -webkit-animation: star 4s infinite linear;
    -moz-animation: star 4s infinite linear;
    animation: star 4s infinite linear;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    background: url('img/shooting_star.png') top center no-repeat;
    background-size: 7%;
    height: 117px;
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 17px;
    width: 112px;
    z-index: 100;
}

.App {
  text-align: center;
  background-image: url('img/moment-in-space-cvi.jpg');
  /*animation-name: background*/
  animation-duration: 20s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height:100%;
  -webkit-background-size: cover;
  background-size: cover;
}

.Container {
  width:80%;
  max-width:650px;
  margin:0px auto 0;
  padding-top:60px;
  text-align: center;
  z-index:200;
}

.Container ul{
  padding-left:0;
  padding-top: 15px;
  margin-top: 0;background-color: rgba(255,255,255,0.3);}
.Container ul li{
  list-style: none;
  margin-bottom: 7px;
  background-color: #f2f2f2;
  -webkit-transition: background-color .8s ease-in-out;
  transition: background-color .8s ease-in-out;
}
.Container ul li:last-child{margin-bottom: 0;}
.Container ul li:hover{background-color: #FFF256;}

.IndividualFetchCapsule {
  text-align: left;
  padding:6px 0 6px 20px;
  border-left: 4px solid #0095ff;
}

.NextBay span{
  color: white;
}

.NextBay button{
  background-color: initial;
  border: none;
  cursor:pointer;
  font-size: 18px;
  font-weight: bold;
  color:#fff;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes background {
    from { background-size: auto 100%;}
    to { background-size: auto 110%;}
}

@-webkit-keyframes star {
  0% {
    background-size: 3%;
    left: 100px;
    top: 251px;
    opacity: 1; }

  30% {
    background-size: 17%;
    left: 258px;
    /*top: 120px;*/
    opacity: 0.5; }

  80% {
    background: url(img/shooting_star.png) top center no-repeat;
    background-size: 10%;
    left: 626px;
    top: -6px;
    opacity: 0; }
}

@-moz-keyframes star {
  0% {
    background-size: 3%;
    left: 100px;
    top: 251px;
    opacity: 1; }

  30% {
    background-size: 17%;
    left: 258px;
    /*top: 120px;*/
    opacity: 0.5; }

  80% {
    background: url(img/shooting_star.png) top center no-repeat;
    background-size: 10%;
    left: 626px;
    top: -6px;
    opacity: 0; }
}

@keyframes star {
  0% {
    background-size: 3%;
    left: 100px;
    top: 251px;
    opacity: 1; }

  30% {
    background-size: 17%;
    left: 258px;
    /*top: 120px;*/
    opacity: 0.5; }

  80% {
    background: url(img/shooting_star.png) top center no-repeat;
    background-size: 10%;
    left: 626px;
    top: -6px;
    opacity: 0; }
}